@keyframes appear-slow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page__first {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  z-index: auto;
}

.top_half {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.login_signup {
  position: absolute;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  right: 0%;
  width: 20%;
  aspect-ratio: 1 / 0.25;

  button {
    font-family: "Playfair Display", serif;
    font-size: 1.5vw;
    background: none;
    border: none;
  }

  .btn__login {
    margin-right: 12%;
    color: rgb(150, 43, 250);
  }

  .btn__signup {
    color: rgb(247, 111, 0);
  }
}

.title_description {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 90%;
  letter-spacing: 0.05vw;
}

.title {
  width: 70%;
}

.description {
  width: 100%;
  font-size: 1.5vw;
  line-height: 150%;
  animation: 3s appear-slow;
}

.scroll {
  width: 100%;
  height: fit-content;
  padding: 2%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.185));
  color: rgb(255, 136, 0);
  font-size: 1.4vw;
  letter-spacing: 0.05vw;
}

@keyframes appear-slow {
  from {
    opacity: 0;
    transform: scale(90%);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}

.bottom_half {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-size: 2.6vw;
    letter-spacing: 0.15vw;
    word-spacing: 0.3vw;
    font-style: italic;
    margin: 8%;
    animation: appear-slow 1s;
    border-bottom: thin solid red;
    width: fit-content;
    span {
      background-image: linear-gradient(
        150deg,
        rgb(252, 255, 99) 10%,
        rgb(255, 115, 0)
      );
      padding: 1% 0%;
      border-radius: 100% 10%;
    }
  }
}

@keyframes slide-in-h1 {
  from {
    transform: translateX(-100%) skewX(-17deg);
  }
  to {
    transform: translateX(0%) skewX(-17deg);
  }
}

.container__details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  padding: 7% 5%;
  background-image: linear-gradient(
    rgb(255, 244, 238),
    rgb(255, 229, 214) 8%,
    rgb(254, 255, 196)
  );

  h1 {
    position: absolute;
    top: -3%;
    left: 2%;
    background-image: linear-gradient(
      150deg,
      rgb(255, 230, 0) 10%,
      rgb(255, 102, 0)
    );
    width: fit-content;
    height: fit-content;
    font-size: 2.7vw;
    letter-spacing: 0.15vw;
    word-spacing: 0.3vw;
    padding: 2% 3.5%;
    transform: skewX(-17deg);
    animation: slide-in-h1 1s;
    color: rgb(0, 63, 3);
  }
}

.details {
  position: relative;
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8%;
  margin-top: 7%;
  padding: 4%;
  background-color: rgb(255, 255, 240);
  text-align: left;
  border-radius: 1% / 2.3%;

  h2 {
    position: absolute;
    background-image: linear-gradient(
      150deg,
      rgb(255, 35, 244) 5%,
      rgb(195, 0, 255)
    );
    width: fit-content;
    height: fit-content;
    font-size: 2.7vw;
    letter-spacing: 0.15vw;
    padding: 0.6% 3%;
    transform: skewX(-17deg);
    color: aliceblue;
    top: -8%;
    left: 56%;
  }

  img {
    width: 45%;
    height: 45%;
  }

  p {
    font-size: 1.6vw;
    letter-spacing: 0.06vw;
    line-height: 140%;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.details__right {
  right: -10%;
  animation: slide-in-right 1s;
}

.details__left {
  left: -10%;
  animation: slide-in-left 1s;
}

.footer {
  width: 100%;
  padding-top: 1.6%;
  aspect-ratio: 1 / 0.11;
  background-image: linear-gradient(rgb(255, 208, 0), orange);

  Link {
    position: relative;
    font-size: 0.01px;
  }

  button {
    width: 4%;
    aspect-ratio: 1;
    background: none;
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .btn__instagram {
    background-image: url("/instagram.png");
    margin-right: 2%;
  }

  .btn__github {
    background-image: url("/github.svg");
    margin-right: 1.7%;
  }

  .btn__feedback {
    background-image: url("/feedback.png");
  }

  .attribution {
    color: rgb(55, 0, 107);
    font-size: 1.1vw;
    letter-spacing: 0.05vw;
    margin-top: 0.8%;
  }

  .copyright {
    color: rgb(127, 0, 247);
    font-size: 1.2vw;
    letter-spacing: 0.05vw;
    word-spacing: 0.2vw;
  }
}

.overlay__first {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.384);
  backdrop-filter: blur(3px);
  z-index: 10;

  .overlay__login,
  .overlay__create_account {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .warning {
      font-size: 1.4vw;
      letter-spacing: 0.1vw;
      padding: 0.6%;
      border-radius: 1% / 12%;
      background-color: orangered;
      color: aliceblue;
      margin-bottom: 1%;
    }

    .warning__login {
      width: 35%;
    }

    .warning__create_account {
      width: 38%;
    }

    form {
      position: relative;
      box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.404);

      .btn__x {
        position: absolute;
        border: none;
        background: none;
        top: 0%;
        right: 3%;
        font-size: 2.3vw;
      }

      h2 {
        font-size: 2.5vw;
        letter-spacing: 0.15vw;
        margin-bottom: 6.7%;
        color: rgb(2, 0, 97);
      }

      .input_wrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 65%;
        aspect-ratio: 1 / 0.1;

        input {
          width: 100%;
          height: 100%;
          border-radius: 2% / 20%;
          font-size: 1.3vw;
          letter-spacing: 0.1vw;
          text-align: center;
          padding-bottom: 1%;
        }

        .btn__eye,
        .btn__eye_off {
          position: absolute;
          width: 9%;
          aspect-ratio: 1;
          background: none;
          border: none;
          background-repeat: no-repeat;
          background-size: contain;
          right: 2%;
        }

        .btn__eye {
          background-image: url("/eye.png");
        }

        .btn__eye_off {
          background-image: url("/eye-off.png");
        }
      }
    }

    .form__login {
      background-image: linear-gradient(rgb(255, 217, 0), orange);
      width: 35%;
      aspect-ratio: 1 / 0.6;
      border-radius: 2% / calc(2% + 2% * 0.6);
      padding-top: 1.6%;

      .btn__x {
        color: blueviolet;

        &:hover {
          color: rgb(255, 50, 238);
        }
      }

      .input_wrapper {
        margin: 5.5% auto;

        input {
          border-color: rgba(112, 5, 212, 0.418);
        }
      }

      .btn__login {
        font-size: 1.3vw;
        letter-spacing: 0.1vw;
        padding: 1% 1.5% 1.2% 1.5%;
        background-image: linear-gradient(rgb(238, 57, 255), rgb(168, 1, 190));
        border: none;
        border-radius: 5%/10%;
        color: aliceblue;
        margin-top: 2%;
        transition: all 0.3s;

        &:hover {
          transform: translateY(-1px);
          background-image: linear-gradient(
            rgb(255, 121, 226),
            rgb(226, 3, 255)
          );
        }
      }
    }

    .form__create_account {
      background-image: linear-gradient(rgb(181, 255, 96), rgb(0, 255, 221));
      width: 38%;
      aspect-ratio: 1 / 0.9;
      border-radius: 2%;
      padding-top: 2%;

      .btn__x {
        color: rgb(255, 72, 0);

        &:hover {
          color: rgb(255, 208, 0);
        }
      }

      h3 {
        font-size: 1.4vw;
        letter-spacing: 0.08vw;
      }

      .requirements__password {
        background-image: linear-gradient(rgb(251, 255, 0), rgb(255, 230, 0));
        width: 70%;
        height: fit-content;
        font-size: 1.2vw;
        letter-spacing: 0.05vw;
        padding: 1%;
        margin: 2% auto;
        border-radius: 1% / 6%;
      }

      .input_wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 4% auto 6% auto;

        input {
          border-color: rgba(255, 166, 0, 0.671);
        }
      }

      .btn__signup {
        font-size: 1.3vw;
        letter-spacing: 0.1vw;
        padding: 1% 1.5%;
        background-image: linear-gradient(rgb(255, 174, 0), rgb(255, 102, 0));
        border: none;
        border-radius: 5%/10%;
        color: aliceblue;
        transition: all 0.3s;

        &:hover {
          transform: translateY(-1px);
          background-image: linear-gradient(rgb(255, 208, 0), rgb(255, 145, 0));
        }
      }
    }
  }
}

.hidden {
  display: none !important;
}
