.container__search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 11%;
  background-color: blueviolet;

  input {
    text-align: center;
    border-color: rgb(255, 166, 0, 0.671);
  }

  button {
    height: 50%;
    border-radius: 39% / 50%;
    border: none;
    background-color: rgb(255, 231, 126);
  }
}

.no_results {
  position: relative;
  color: rgb(197, 118, 0);
  letter-spacing: 0.07vw;
  top: 50%;
  padding: 0 4%;
}

.recipe_preview {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(rgb(255, 255, 232), rgb(255, 252, 205));

  &:hover {
    background-image: linear-gradient(rgb(233, 233, 194), rgb(226, 222, 177));
  }

  p {
    width: 59%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.btn__pagination {
  position: absolute;
  background-image: linear-gradient(rgb(183, 0, 255), rgb(135, 0, 168));
  color: aliceblue;
  border: none;
  line-height: 100%;
}

.grey_background {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: grey;
}

.btn__search_menu {
  position: absolute;
  width: 15%;
  aspect-ratio: 1;
  background-color: rgb(255, 255, 232);
  background-image: url("/icons/dropdown.svg");
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
  border: none;
  top: 1%;
  right: -15%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.274);
  color: black;
}

.container__search {
  gap: 2%;
  width: 100%;
  height: 11%;

  input {
    width: 75%;
    height: 56%;
    letter-spacing: 0.05vw;
    border-radius: 8% / 50%;
  }

  button {
    padding: 0% 1.5%;
  }
}

.recipe_preview {
  position: relative;
  padding: 0 3%;
  width: 100%;
  height: 17%;
  gap: 6%;
  border-bottom: thin solid rgba(228, 149, 2, 0.76);
  letter-spacing: 0.05vw;
}

.search_menu {
  width: 100%;
  height: 100%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.24);
  background-color: rgb(255, 245, 233);
}

.btn__pagination {
  bottom: 0.6%;
  width: 18%;
  letter-spacing: 0.03vw;
  padding: 1.3% 2% 1% 2%;
  border-radius: 25% / 50%;
}

.search_results {
  width: 100%;
  height: 80%;
  text-align: center;
  list-style: none;
}

.btn__pagination_left {
  left: 2%;
}

.btn__pagination_right {
  right: 2%;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20%;
  background-image: linear-gradient(rgb(254, 255, 167), rgb(255, 232, 103));
  height: calc(100% / 7.9);
  letter-spacing: 0.1vw;
  color: rgb(89, 1, 172);
}

.list:hover {
  background-image: linear-gradient(rgb(255, 217, 0));
}

.container__timer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  aspect-ratio: 1 / 0.8;
  border-radius: 2%;
  margin-bottom: 5%;
}

.btn__timer {
  border-radius: 50%;
  border: none;
  color: black;
}

.input__time {
  text-align: center;
  min-width: 29%;
  width: fit-content;
  aspect-ratio: 1 / 0.8;
}

.btn__control_timer {
  border: none;
  /* min-width: 20%; */
  width: 23%;
  padding: 1%;
  aspect-ratio: 1;
  letter-spacing: 0.05vw;
  border-radius: 50%;
}

.hidden {
  display: none !important;
}
