* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
textarea {
  font-family: "Playfair Display", "Noto Serif JP", Serif;
}

input,
textarea {
  color: black;
}

button,
li {
  cursor: pointer;
}
