@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
body {
  width: 100%;
  height: 100%;
} */

body,
button,
input,
textarea {
  font-family: "Playfair Display", serif;
}

button,
li {
  cursor: pointer;
}

/*
@keyframes appear-slow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page--first {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  z-index: auto;
}

.top_half {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.login_signup {
  position: absolute;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  right: 0%;
  width: 20%;
  aspect-ratio: 1 / 0.25;

  button {
    font-family: "Playfair Display", serif;
    font-size: 1.5vw;
    background: none;
    border: none;
  }

  .btn--login {
    margin-right: 12%;
    color: rgb(150, 43, 250);
  }

  .btn--signup {
    color: rgb(247, 111, 0);
  }
}

.title_description {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 90%;
  letter-spacing: 0.05vw;
}

.title {
  width: 70%;
}

.description {
  width: 100%;
  font-size: 1.5vw;
  line-height: 150%;
  animation: 3s appear-slow;
}

.scroll {
  width: 100%;
  height: fit-content;
  padding: 2%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.185));
  color: rgb(255, 136, 0);
  font-size: 1.4vw;
  letter-spacing: 0.05vw;
}

@keyframes appear-slow {
  from {
    opacity: 0;
    transform: scale(90%);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}

.bottom_half {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-size: 2.6vw;
    letter-spacing: 0.15vw;
    word-spacing: 0.3vw;
    font-style: italic;
    margin: 8%;
    animation: appear-slow 1s;
    border-bottom: thin solid red;
    width: fit-content;
    span {
      background-image: linear-gradient(
        150deg,
        rgb(252, 255, 99) 10%,
        rgb(255, 115, 0)
      );
      padding: 1% 0%;
      border-radius: 100% 10%;
    }
  }
}

@keyframes slide-in-h1 {
  from {
    transform: translateX(-100%) skewX(-17deg);
  }
  to {
    transform: translateX(0%) skewX(-17deg);
  }
}

.container--details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  padding: 7% 5%;
  background-image: linear-gradient(
    rgb(255, 244, 238),
    rgb(255, 229, 214) 8%,
    rgb(254, 255, 196)
  );

  h1 {
    position: absolute;
    top: -3%;
    left: 2%;
    background-image: linear-gradient(
      150deg,
      rgb(255, 230, 0) 10%,
      rgb(255, 102, 0)
    );
    width: fit-content;
    height: fit-content;
    font-size: 2.7vw;
    letter-spacing: 0.15vw;
    word-spacing: 0.3vw;
    padding: 2% 3.5%;
    transform: skewX(-17deg);
    animation: slide-in-h1 1s;
    color: rgb(0, 63, 3);
  }
}

.details {
  position: relative;
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8%;
  margin-top: 7%;
  padding: 4%;
  background-color: rgb(255, 255, 240);
  text-align: left;
  border-radius: 1% / 2.3%;

  h2 {
    position: absolute;
    background-image: linear-gradient(
      150deg,
      rgb(255, 35, 244) 5%,
      rgb(195, 0, 255)
    );
    width: fit-content;
    height: fit-content;
    font-size: 2.7vw;
    letter-spacing: 0.15vw;
    padding: 0.6% 3%;
    transform: skewX(-17deg);
    color: aliceblue;
    top: -8%;
    left: 56%;
  }

  img {
    width: 45%;
    height: 45%;
  }

  p {
    font-size: 1.6vw;
    letter-spacing: 0.06vw;
    line-height: 140%;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.details--right {
  right: -10%;
  animation: slide-in-right 1s;
}

.details--left {
  left: -10%;
  animation: slide-in-left 1s;
}

footer {
  width: 100%;
  padding-top: 1.6%;
  aspect-ratio: 1 / 0.11;
  background-image: linear-gradient(rgb(255, 208, 0), orange);

  a {
    position: relative;
    font-size: 0.01px;
  }

  button {
    width: 4%;
    aspect-ratio: 1;
    background: none;
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .btn--instagram {
    background-image: url("../../public/dropdown.png");
    margin-right: 2%;
  }

  .btn--github {
    background-image: url("../../public/github.svg");
    margin-right: 1.7%;
  }

  .btn--feedback {
    background-image: url("../../public/feedback.png");
  }

  .attribution {
    color: rgb(55, 0, 107);
    font-size: 1.1vw;
    letter-spacing: 0.05vw;
    margin-top: 0.8%;
  }

  .copyright {
    color: rgb(127, 0, 247);
    font-size: 1.2vw;
    letter-spacing: 0.05vw;
    word-spacing: 0.2vw;
  }
}

.overlay--first {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.384);
  backdrop-filter: blur(3px);
  z-index: 10;

  .overlay--login,
  .overlay--create_account {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .warning {
      font-size: 1.4vw;
      letter-spacing: 0.1vw;
      padding: 0.6%;
      border-radius: 1% / 12%;
      background-color: orangered;
      color: aliceblue;
      margin-bottom: 1%;
    }

    .warning--login {
      width: 35%;
    }

    .warning--create_account {
      width: 38%;
    }

    form {
      position: relative;
      box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.404);

      .btn--x {
        position: absolute;
        border: none;
        background: none;
        top: 0%;
        right: 3%;
        font-size: 2.3vw;
      }

      h2 {
        font-size: 2.5vw;
        letter-spacing: 0.15vw;
        margin-bottom: 6.7%;
        color: rgb(2, 0, 97);
      }

      .input_wrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 65%;
        aspect-ratio: 1 / 0.1;

        input {
          width: 100%;
          height: 100%;
          border-radius: 2% / 20%;
          font-size: 1.3vw;
          letter-spacing: 0.1vw;
          text-align: center;
          padding-bottom: 1%;
        }

        .btn--eye,
        .btn--eye_off {
          position: absolute;
          width: 9%;
          aspect-ratio: 1;
          background-repeat: no-repeat;
          background-size: contain;
          right: 2%;
        }

        .btn--eye {
          background-image: url("../../public/eye.png");
        }

        .btn--eye_off {
          background-image: url("../../public/eye-off.png");
        }
      }
    }

    .form--login {
      background-image: linear-gradient(rgb(255, 217, 0), orange);
      width: 35%;
      aspect-ratio: 1 / 0.6;
      border-radius: 2% / calc(2% + 2% * 0.6);
      padding-top: 1.6%;

      .btn--x {
        color: blueviolet;

        &:hover {
          color: rgb(255, 50, 238);
        }
      }

      .input_wrapper {
        margin: 5.5% auto;

        input {
          border-color: rgba(112, 5, 212, 0.418);
        }
      }

      .btn--login {
        font-size: 1.3vw;
        letter-spacing: 0.1vw;
        padding: 1%;
        background-image: linear-gradient(rgb(238, 57, 255), rgb(168, 1, 190));
        border: none;
        border-radius: 10%;
        color: aliceblue;
        margin-top: 2%;
        transition: all 0.3s;

        &:hover {
          transform: translateY(-1px);
          background-image: linear-gradient(
            rgb(255, 121, 226),
            rgb(226, 3, 255)
          );
        }
      }
    }

    .form--create_account {
      background-image: linear-gradient(rgb(181, 255, 96), rgb(0, 255, 221));
      width: 38%;
      aspect-ratio: 1 / 0.9;
      border-radius: 2%;
      padding-top: 2%;

      .btn--x {
        color: rgb(255, 72, 0);

        &:hover {
          color: rgb(255, 208, 0);
        }
      }

      h3 {
        font-size: 1.4vw;
        letter-spacing: 0.08vw;
      }

      .requirements--password {
        background-image: linear-gradient(rgb(251, 255, 0), rgb(255, 230, 0));
        width: 70%;
        height: fit-content;
        font-size: 1.2vw;
        letter-spacing: 0.05vw;
        padding: 1%;
        margin: 2% auto;
        border-radius: 1% / 6%;
      }

      .input_wrapper {
        margin: 4% auto 6% auto;

        input {
          border-color: rgba(255, 166, 0, 0.671);
        }
      }

      .btn--signup {
        font-size: 1.2vw;
        letter-spacing: 0.1vw;
        padding: 1%;
        background-image: linear-gradient(rgb(255, 174, 0), rgb(255, 102, 0));
        border: none;
        border-radius: 10%;
        color: aliceblue;
        transition: all 0.3s;

        &:hover {
          transform: translateY(-1px);
          background-image: linear-gradient(rgb(255, 208, 0), rgb(255, 145, 0));
        }
      }
    }
  }
}

.page--main {
  width: 100vw;
  height: 100vh;
}

.container--cooking {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.container--dropdown {
  position: absolute;
  top: 1%;
  right: 3%;
  width: 19%;
  aspect-ratio: 1 / 1.8;
  z-index: 10;
  pointer-events: none;

  .btn--dropdown {
    pointer-events: all;
    width: 22%;
    aspect-ratio: 1;
    background: none;
    border: none;
    background-image: url("../../public/dropdown.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 82%;
  }

  ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    text-align: center;
    border-radius: 1.8% / 1%;
    overflow: hidden;

    a {
      text-decoration: none;
    }

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-image: linear-gradient(rgb(243, 195, 255), rgb(222, 151, 255));
      height: calc(100% / 7);
      font-size: 1.5vw;
      letter-spacing: 0.1vw;

      &:hover {
        background-image: linear-gradient(
          rgb(210, 134, 230),
          rgb(210, 113, 255)
        );
      }
    }
  }
}

.container--search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 11%;
  background-color: blueviolet;

  input {
    text-align: center;
    border-color: rgb(255, 166, 0, 0.671);
  }

  button {
    height: 50%;
    border-radius: 39% / 50%;
    border: none;
    background-color: rgb(255, 231, 126);
  }
}

.recipe_preview {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(rgb(255, 255, 232), rgb(255, 252, 205));

  &:hover {
    background-image: linear-gradient(rgb(233, 233, 194), rgb(226, 222, 177));
  }

  .img--main {
    width: 19%;
    aspect-ratio: 1;
    border-radius: 50%;
  }

  p {
    width: 59%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .img--favorite {
    width: 8%;
    aspect-ratio: 1;
  }
}

.btn--pagination {
  position: absolute;
  background-image: linear-gradient(rgb(183, 0, 255), rgb(135, 0, 168));
  color: aliceblue;
  border: none;
  line-height: 100%;
}

.section--recipe {
  position: relative;
  text-align: center;
  background-image: linear-gradient(rgb(253, 255, 219), rgb(255, 254, 179));
  width: 50%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-color: rgb(255, 255, 232) rgb(253, 231, 157);

  .container--recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 3% 0;
    z-index: 1;
    color: rgb(60, 0, 116);

    .img--main {
      width: 75%;
      aspect-ratio: 1 / 0.55;
    }

    .title_wrapper {
      position: relative;
      top: -6%;
      width: 65%;
      height: fit-content;
    }

    .title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      background-image: linear-gradient(
        150deg,
        rgb(255, 230, 0) 10%,
        rgb(255, 102, 0)
      );
      width: 100%;
      height: fit-content;
      font-size: 2vw;
      letter-spacing: 0.1vw;
      padding: 2% 3.5%;
      transform: skewX(-17deg);
    }

    .container--description_favorite {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      top: -2%;
      width: 90%;
      height: fit-content;
      gap: 3%;

      .btn--favorite {
        background: none;
        background-image: url("../../public/star-off.png");
        width: 5%;
        aspect-ratio: 1;
        background-repeat: no-repeat;
        background-size: 100%;
        border: none;
      }

      .btn--favorite_on {
        background-image: url("../../public/star-on.png");
      }

      .container--description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        min-width: 80%;
        width: fit-content;
        max-width: 91%;
        height: 95%;
        white-space: nowrap;
        padding: 3%;
        background-color: rgb(255, 217, 0);
        overflow: hidden;
        border-radius: 1% / 7%;
        gap: 8%;

        .author {
          padding-right: 5%;
        }

        .container--author_servings,
        .container--ingredients_unit,
        .container--temperature_unit {
          width: 100%;
          height: fit-content;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5%;
          letter-spacing: 0.05vw;

          p {
            background-color: rgba(206, 58, 0, 0.904);
            width: fit-content;
            height: fit-content;
            padding: 0.5% 0.9%;
            color: aliceblue;
            font-size: 1vw;
            border-radius: 5px;
          }

          span {
            font-size: 1.2vw;
          }

          .author {
            margin-right: 1%;
          }

          #input--servings {
            width: 7%;
            aspect-ratio: 1 / 0.8;
            font-size: 1.3vw;
            text-align: center;
            border: none;
          }

          #input--ingredients_unit {
            margin-right: 1%;
          }
        }
      }
    }

    .container--ingredients {
      position: relative;
      top: 3%;
      width: 90%;
      height: fit-content;
      background-color: rgb(255, 247, 177);
      padding: 2%;
      border-radius: 3px;

      h3 {
        font-size: 1.5vw;
        letter-spacing: 0.05vw;
      }

      .ingredients {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: left;
        margin-top: 2%;
        font-size: 1.3vw;
        word-spacing: 0.1vw;
        gap: 5%;
        padding-left: 7%;

        .ingredient_line {
          width: 100%;
          height: fit-content;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;
        }
      }
    }

    .container--steps {
      position: relative;
      top: 8%;
      width: 80%;
      height: fit-content;

      h2 {
        margin-bottom: 3.5%;
        font-size: 1.6vw;
      }

      .step {
        width: 100%;
        height: fit-content;
        border: thin solid rgb(255, 174, 0);
        padding: 3%;
        font-size: 1.2vw;
        letter-spacing: 0.05vw;

        h3 {
          margin-bottom: 2%;
          font-size: 1.4vw;
        }

        .container--step_step_img {
          text-align: left;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 3%;

          img {
            width: 25%;
            aspect-ratio: 1 / 0.8;
          }
        }
      }
    }

    .container--recipe_description {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      width: 100%;
      max-height: 30%;
      margin-top: 20%;
      flex-shrink: 0;

      h2 {
        font-size: 1.8vw;
        margin-bottom: 2%;
      }

      p {
        background-color: rgb(255, 247, 133);
        overflow-y: auto;
        width: 85%;
        height: 100%;
        padding: 1.3% 1.5%;
        font-size: 1.2vw;
        letter-spacing: 0.05vw;
      }
    }

    .container--slider {
      margin-top: 10%;
      width: 60%;
      height: 45%;

      h2 {
        font-size: 1.8vw;
        margin-bottom: 3%;
      }

      .slider--imgs {
        width: 100%;
        height: 80%;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .container--comments {
      margin-top: 8%;
      width: 80%;
      height: 40%;
      flex-shrink: 0;

      h2 {
        font-size: 1.8vw;
        margin-bottom: 3%;
      }

      .comments_wrapper {
        width: 100%;
        height: 90%;
        border-radius: 1% / 3%;

        .comments {
          width: 100%;
          height: 100%;
          overflow-y: auto;
          background-color: rgb(255, 253, 222);
          font-size: 1.3vw;
          letter-spacing: 0.05vw;
          padding: 3%;
          text-align: left;
        }
      }
    }

    .container--nutrition_facts {
      width: 95%;
      height: 58%;
      margin-top: 14%;
      padding-bottom: 3%;
      flex-shrink: 0;
      letter-spacing: 0.07vw;

      .nutrition_facts {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: antiquewhite;
        padding: 2%;

        .container--h3_input {
          display: flex;
          flex-direction: row;
          width: 100%;
          height: fit-content;
          align-items: center;
          margin-bottom: 3%;
          gap: 2%;

          h3 {
            font-size: 1.6vw;
            margin-left: 35%;
          }

          #input--servings {
            width: 8%;
            height: 100%;
            margin-left: 10%;
            font-size: 1.2vw;
            padding-left: 0.5%;
          }

          span {
            font-size: 1.2vw;
          }
        }

        .nutrients {
          width: 95%;
          height: fit-content;
          border-spacing: 0;

          th,
          td {
            border: thin solid rgb(116, 116, 255);
            padding: 0.3%;
          }

          td {
            font-size: 1.1vw;
          }

          thead {
            background-color: rgb(200, 222, 255);
            font-size: 1.2vw;
          }

          tbody > tr:nth-of-type(odd) {
            background-color: azure;
          }

          tbody > tr:nth-of-type(even) {
            background-color: rgb(215, 244, 255);
          }
        }
      }
    }
  }
}

.container--search_menu {
  position: absolute;
  top: 0%;
  width: 55%;
  height: 100%;
  z-index: 10;
  transform: translateX(-100%);

  .btn--search_menu {
    position: absolute;
    width: 15%;
    aspect-ratio: 1;
    background-color: rgb(255, 255, 232);
    background-image: url("../../public/dropdown.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    top: 1%;
    right: -15%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.274);
  }

  .container--search {
    gap: 2%;
    width: 100%;
    height: 11%;

    input {
      width: 75%;
      height: 56%;
      font-size: 1.3vw;
      letter-spacing: 0.05vw;
      border-radius: 8% / 50%;
    }

    button {
      font-size: 1.1vw;
      padding: 0% 1.5%;
    }
  }

  .recipe_preview {
    padding: 0 3%;
    width: 100%;
    height: 17%;
    gap: 6%;
    border-bottom: thin solid rgba(228, 149, 2, 0.76);
    font-size: 1.35vw;
    letter-spacing: 0.05vw;
  }

  .search_menu {
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.24);
    background-color: rgb(255, 245, 233);
  }

  .btn--pagination {
    bottom: 0.6%;
    width: 18%;
    font-size: 1.05vw;
    letter-spacing: 0.03vw;
    padding: 1.3% 2% 1% 2%;
    border-radius: 25% / 50%;
  }

  .search_results {
    width: 100%;
    height: 80%;
    list-style: none;
  }

  .btn--pagination_left {
    left: 2%;
  }

  .btn--pagination_right {
    right: 2%;
  }
}

.section--timers_note {
  display: grid;
  grid-template-rows: 65% 35%;
  width: 50%;
  height: 100%;

  .section--timers {
    position: relative;
    background-image: linear-gradient(rgb(255, 217, 0), rgb(255, 166, 1));
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-color: rgb(255, 199, 125) rgb(212, 120, 0);
    text-align: center;
    padding: 3% 0 1% 0;

    h2 {
      font-size: 2vw;
      letter-spacing: 0.1vw;
      margin-bottom: 5%;
    }

    .container--timers {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      width: 100%;
      height: fit-content;

      .timer,
      .container--btn_add {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        aspect-ratio: 1 / 0.8;
        border-radius: 2%;
        margin-bottom: 5%;
      }

      .container--btn_add {
        justify-content: center;

        .btn--add {
          width: fit-content;
          aspect-ratio: 1/1;
          font-size: 1.3vw;
          letter-spacing: 0.05vw;
          line-height: 105%;
          padding: 4%;
          background-image: linear-gradient(rgb(251, 255, 0), rgb(255, 217, 0));
          border-radius: 50%;
          border: none;
        }
      }

      .timer {
        position: relative;
        background-color: rgb(255, 245, 199);
        gap: 8%;

        .btn--x {
          position: absolute;
          background-color: orange;
          width: 7%;
          aspect-ratio: 1/1;
          border-radius: 50%;
          border: none;
          font-size: 1.2vw;
          top: 2%;
          right: 1%;
        }

        input {
          text-align: center;
        }

        .input--timer_title {
          width: 80%;
          height: 16%;
          margin-top: 8%;
          font-size: 1.15vw;
          border-radius: 2% / 18%;
          border-color: orange;
        }

        p {
          white-space: nowrap;
        }

        .input--time {
          width: 30%;
          aspect-ratio: 1 / 0.8;
          font-size: 1.5vw;
        }

        .container--btns {
          display: flex;
          flex-direction: row;
          justify-content: center;
          width: 100%;
          height: fit-content;
          gap: 6%;

          button {
            border: none;
            width: 20%;
            aspect-ratio: 1/1;
            font-size: 1.2vw;
            letter-spacing: 0.05vw;
            border-radius: 50%;
          }

          .btn--start {
            background-color: greenyellow;
          }

          .btn--pause {
            background-color: rgb(255, 153, 0);
          }

          .btn--reset {
            background-color: rgb(191, 52, 255);
          }
        }
      }
    }
  }

  .section--note {
    background-image: linear-gradient(rgb(254, 255, 213), rgb(254, 255, 186));
    width: 100%;
    overflow-y: auto;
    scrollbar-color: rgb(255, 250, 209) rgb(255, 231, 92);
    font-size: 1.3vw;
    letter-spacing: 0.05vw;
    padding: 2% 2.8%;
    z-index: 1;
  }
}

.page--recipes {
  width: 100vw;
  height: 100vh;
  background-color: rgb(179, 248, 219);
  padding: 1%;

  .container--search_btn {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 3%;
    width: 100%;
    height: 10%;
    gap: 4%;

    .search_result {
      position: absolute;
      width: 17%;
      height: fit-content;
      left: 0%;
      font-size: 1.3vw;
      letter-spacing: 0.05vw;
      color: rgb(172, 112, 0);
      text-align: center;
    }

    .container--search {
      width: 60%;
      height: 100%;
      border-radius: 1% / 10%;
      gap: 3%;

      input {
        width: 60%;
        height: 55%;
        font-size: 1.4vw;
        letter-spacing: 0.05vw;
        word-spacing: 0.2vw;
        border-radius: 1% / 10%;
      }

      .btn--search {
        font-size: 1.1vw;
        letter-spacing: 0.05vw;
        width: fit-content;
        height: fit-content;
        padding: 0.9% 1.4%;
        border-radius: 30% / 50%;
      }
    }

    .btn--create {
      font-size: 1.3vw;
      letter-spacing: 0.1vw;
      width: fit-content;
      aspect-ratio: 1/1;
      border-radius: 50%;
      padding: 0.4%;
      border: none;
      background-image: linear-gradient(rgb(0, 255, 213), rgb(0, 153, 255));
      color: aliceblue;
      font-weight: bold;
    }
  }

  .container--recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 80%;
    padding: 3% 5% 0 5%;
    justify-items: center;

    .container--recipes_column {
      width: 85%;
      height: 100%;
    }

    .recipe_preview {
      height: 15%;
      margin-bottom: 3%;
      gap: 4%;
      padding-left: 2%;
      border-radius: 1% / 4%;
    }
  }

  .container--message {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    padding: 3% 5% 0 5%;
    text-align: center;
    justify-content: center;
    font-size: 2.1vw;
    letter-spacing: 0.1vw;
    word-spacing: 0.3vw;
    color: rgb(190, 124, 0);
  }

  .btn--pagination {
    font-size: 1.2vw;
    letter-spacing: 0.1vw;
    padding: 0.5% 1%;
    border-radius: 35% / 50%;
    bottom: 2%;
  }

  .btn--pagination_left {
    left: 2%;
  }
  .btn--pagination_right {
    right: 2%;
  }

  .overlay--recipes {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    padding: 5% 0;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.384);
    backdrop-filter: blur(3px);
    z-index: 10;

    .btn--x {
      position: absolute;
      font-size: 3vw;
      top: 1%;
      right: 2%;
      font-weight: bold;
      color: aliceblue;
      background: none;
      border: none;
    }

    .overlay--create_recipe,
    .overlay--edit_recipe {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      height: fit-content;
    }

    .overlay--create_recipe {
      gap: 4%;
    }

    .overlay--edit_recipe {
      gap: 2%;
    }

    .container--example {
      width: 30%;
      height: 90%;
      text-align: center;
      color: aliceblue;

      h2 {
        font-size: 2vw;
        letter-spacing: 0.1vw;
      }

      .img--example {
        width: 100%;
        height: 100%;
        padding-top: 4%;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      text-align: left;
      align-items: center;
      gap: 9px;
      width: 50%;
      height: fit-content;
      background-image: linear-gradient(rgb(0, 225, 255), rgb(0, 153, 255));
      padding: 2%;
      border-radius: 5px;

      h2 {
        color: aliceblue;
        font-size: 2.2vw;
        letter-spacing: 0.15vw;
        word-spacing: 0.2vw;
        margin-bottom: 4%;
      }

      p {
        width: 95%;
        height: fit-content;
        font-size: 1.2vw;
        letter-spacing: 0.07vw;
        text-align: left;
        margin: 2.5% 0 1% 0;
      }

      .container--btn_add {
        justify-content: center;
        margin: 2% 0;
      }

      .container--input_line_recipe_description,
      .container--input_line_comments {
        margin: 2.5% 0;
      }

      .container--input_line,
      .container--btn_add {
        display: flex;
        flex-direction: row;
        width: 95%;
        height: fit-content;
        gap: 1%;

        span {
          background-image: linear-gradient(
            rgb(255, 255, 123),
            rgb(255, 225, 91)
          );
          color: rgb(116, 0, 224);
          width: fit-content;
          height: fit-content;
          font-size: 1.13vw;
          letter-spacing: 0.05vw;
          padding: 0.4% 1%;
          white-space: nowrap;
          border-radius: 3px;
          margin-right: 1%;
        }

        input {
          text-align: center;
          aspect-ratio: 1/0.1;
          letter-spacing: 0.07vw;
          border-color: rgba(0, 0, 0, 0.507);
        }

        input[type="file"] {
          font-size: 1.1vw;
          border-radius: 2%/10%;
          width: 38%;
        }

        #input--title {
          width: 50%;
          font-size: 1.2vw;
          border-radius: 1.5%/10%;
        }

        #input--author {
          width: 30%;
          font-size: 1vw;
          border-radius: 2%/10%;
        }

        #input--servings,
        #input--servings_unit_other {
          width: 15%;
          font-size: 1vw;
          border-radius: 3%/10%;
        }

        .input--temperature {
          width: 15%;
          font-size: 1vw;
          border-radius: 3%/10%;
        }

        .input--ingredient {
          width: auto;
          font-size: 1.1vw;
          border-radius: 1.8%/10%;
        }

        .input--ingredient_amount {
          width: 21%;
          font-size: 1vw;
          border-radius: 5%/10%;
        }

        .input--ingredient_other {
          width: 26%;
          font-size: 0.95vw;
          border-radius: 4.5%/10%;
        }

        .select--ingredient_unit {
          border-radius: 2%/10%;
        }

        .btn--add {
          width: 5%;
          aspect-ratio: 1;
          font-size: 100%;
          border-radius: 50%;
          border: none;
          background-image: linear-gradient(
            rgb(208, 90, 255),
            rgb(153, 0, 255)
          );
          color: aliceblue;
          font-weight: bold;
        }

        textarea {
          width: 55%;
          aspect-ratio: 1/0.5;
          resize: none;
          margin-bottom: 1%;
          border-radius: 1%/2%;
          font-size: 1.1vw;
          padding: 1% 1.3%;
        }

        #textarea--comments {
          letter-spacing: 0.05vw;
        }
      }

      .btn--upload {
        background-image: linear-gradient(rgb(255, 196, 0), rgb(255, 94, 0));
        border: none;
        color: aliceblue;
        font-size: 1.5vw;
        letter-spacing: 0.07vw;
        width: fit-content;
        height: fit-content;
        padding: 1% 1.5%;
        border-radius: 6%/12%;
      }

      .cur_info {
        width: fit-content;
        margin: 0 3% 0 0;
      }

      .container--cur_img_choose_img {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        gap: 9px;
        margin-left: 2%;

        input[type="file"] {
          width: 100%;
        }
      }
    }
  }

  .container--recipe_preview {
    width: 45%;
    height: fit-content;
    text-align: center;
    color: aliceblue;

    h2 {
      font-size: 2vw;
      letter-spacing: 0.1vw;
      margin-bottom: 2%;
    }

    .section--recipe {
      width: 100%;
      overflow-y: hidden;

      .title_wrapper {
        top: -25px;
      }

      .container--description_favorite {
        top: -18px;

        p {
          font-size: 0.9vw !important;
        }

        span {
          font-size: 1.1vw !important;
        }
      }

      .container--ingredients {
        margin-top: 10px;
      }

      .container--steps {
        margin-top: 20px;
      }

      .container--recipe_description {
        margin-top: 50px;
      }
    }
  }
}

@keyframes loading {
  from {
    transform: rotate(-40deg);
  }
  to {
    transform: rotate(40deg);
  }
}

.overlay--upload {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.384);
  backdrop-filter: blur(3px);
  z-index: 100;

  img {
    width: 10%;
    animation: loading 0.8s infinite;
  }

  .message--upload {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    font-size: 1.5vw;
    letter-spacing: 0.05vw;
    padding: 1%;
    color: rgb(197, 118, 0);
    background-color: blanchedalmond;
    border-radius: 2%/4%;
  }
}

.page--converter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(109, 219, 182);
  gap: 2%;
  padding: 1%;

  h1 {
    font-size: 2.6vw;
    letter-spacing: 0.1vw;
    margin-bottom: 1%;
  }

  h3 {
    font-size: 1.5vw;
    letter-spacing: 0.07vw;
    word-spacing: 0.3vw;
  }

  .container--converter_ingredients,
  .container--converter_length,
  .container--converter_temperature {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 65%;
    height: 20%;
    background-color: antiquewhite;
    gap: 3%;
    border-radius: 1%/8%;

    .container--converter {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 75%;
      height: fit-content;
      gap: 1%;

      label {
        font-size: 1.5vw;
      }

      .label--to {
        margin-left: 2%;
      }

      input {
        text-align: center;
        width: 25%;
        font-size: 1.2vw;
        letter-spacing: 0.07vw;
        border-radius: 2%/7%;
        border-color: rgba(0, 0, 0, 0.404);
      }

      input,
      select {
        aspect-ratio: 1/0.21;
      }
    }

    .container--output {
      width: 25%;
      height: fit-content;
      display: flex;
      flex-direction: row;
      gap: 5%;

      .output {
        background-color: rgb(255, 241, 164);
        width: fit-content;
        height: fit-content;
        font-size: 3vw;
        padding: 0 2% 1% 2%;
      }

      .unit {
        font-size: 1.9vw;
        margin: auto 3% 0 0;
      }
    }
  }
}
*/

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
