* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
textarea {
  font-family: "Playfair Display", "Noto Serif JP", Serif;
  color: black;
}

input,
textarea,
select {
  background-color: white;
  border-color: rgba(0, 0, 0, 0.404);
}

button,
li {
  cursor: pointer;
}
