@keyframes appear-slow__description {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn__login,
.btn__signup {
  background: none;
  border: none;
}

.btn__login {
  margin-right: 12%;
  color: rgb(150, 43, 250);
}

.btn__signup {
  color: rgb(247, 111, 0);
}

.description {
  width: 100%;
  line-height: 150%;
  animation: 3s appear-slow__description;
}

.link__footer {
  position: relative;
  font-size: 0.01px;
}

.link__button {
  aspect-ratio: 1;
  background: none;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
}

.overlay__login,
.overlay__create_account {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.384);
  backdrop-filter: blur(3px);
  z-index: 10;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 8% 0 4% 0;
  transition: all 0.5s;
}

.overlay__login {
  justify-content: center;
}

.warning {
  letter-spacing: 0.1vw;
  padding: 0.6%;
  border-radius: 3px;
  color: rgb(240, 255, 246);
  margin: 1% 0;
}

.btn__x {
  position: absolute;
  border: none;
  background: none;
  right: 3%;
  color: rgb(131, 105, 0);
}

.btn__x:hover {
  color: rgb(255, 94, 0);
}

.form {
  position: relative;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.404);
}

.h2 {
  letter-spacing: 0.15vw;
  margin-bottom: 6%;
  color: rgb(131, 105, 0);
}

.btn__eye,
.btn__eye_off {
  position: absolute;
  aspect-ratio: 1;
  background: none;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  right: 2%;
}

.btn__eye {
  background-image: url("/icons/eye.png");
}

.btn__eye_off {
  background-image: url("/icons/eye-off.png");
}

.btn__submit_login {
  letter-spacing: 0.1vw;
  padding: 1% 1.5% 1.2% 1.5%;
  background-image: linear-gradient(rgb(241, 84, 255), rgb(201, 0, 228));
  border: none;
  border-radius: 5%/10%;
  color: aliceblue;
  transition: all 0.3s;
}

.btn__submit_login:hover {
  transform: translateY(-1px);
  background-image: linear-gradient(rgb(255, 121, 226), rgb(226, 3, 255));
}

.btn__signup_submit {
  letter-spacing: 0.1vw;
  padding: 1% 1.5%;
  background-image: linear-gradient(rgb(255, 174, 0), rgb(233, 124, 0));
  border: none;
  border-radius: 5%/10%;
  color: aliceblue;
  transition: all 0.3s;
}

.btn__signup_submit:hover {
  transform: translateY(-1px);
  background-image: linear-gradient(rgb(255, 208, 0), rgb(255, 145, 0));
}

.btn__image {
  aspect-ratio: 1;
  background: none;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
}

.input_wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  margin: 4% auto 6% auto;
}

.input {
  width: 100%;
  height: fit-content;
  border-radius: 2% / 20%;
  letter-spacing: 0.1vw;
  text-align: center;
  padding-bottom: 1%;
}

.span__withcooking {
  background-image: linear-gradient(
    150deg,
    rgb(252, 255, 99) 10%,
    rgb(255, 115, 0)
  );
  padding: 1% 0%;
  border-radius: 100% 10%;
}

.hidden {
  display: none !important;
}
