@keyframes loading {
  from {
    transform: rotate(-40deg);
  }
  to {
    transform: rotate(40deg);
  }
}

.img__uploading {
  animation: loading 0.8s infinite;
}

.hidden {
  display: none !important;
}
