.box {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 10px;
  border-bottom: thin solid rgba(0, 0, 0, 0.185);
  padding: 4%;
  align-items: center;
}

.box:last-child {
  border-bottom: none;
}

@keyframes loading {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0.8;
  }
}

.loading {
  animation: loading 1s infinite linear;
}

.titles {
  letter-spacing: 0.07vw;
  color: rgb(177, 128, 24);
}

.btn__change,
.btn__close {
  border: none;
  color: white;
  width: fit-content;
  height: fit-content;
  margin-top: 1%;
  /* background-color: #73ff00; */

  &:hover {
    transform: translateY(-3%);
    transition: all 0.2s;
  }
}

.btn__change {
  background-image: linear-gradient(orange, rgb(255, 81, 0));
  letter-spacing: 0.05vw;
  padding: 0.7% 1%;
  border-radius: 6%/15%;
}

.btn__close {
  background-image: linear-gradient(rgb(183, 43, 226), purple);
  letter-spacing: 0.07vw;
  padding: 1% 1.3%;
  border-radius: 7%/12%;
}

.input__non_password,
.input_wrapper {
  aspect-ratio: 1/0.11;
}

.input {
  border-radius: 1.2%/10%;
  border-color: #0000004f;
  padding-left: 1%;
  padding-left: 1.5%;
  letter-spacing: 0.05vw;
}

.input_wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn__eye,
.btn__eye_off {
  position: absolute;
  width: 10%;
  aspect-ratio: 1;
  background: none;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  right: 2%;
}

.btn__eye {
  background-image: url("/icons/eye.png");
}

.btn__eye_off {
  background-image: url("/icons/eye-off.png");
}
