.btn__create {
  letter-spacing: 0.1vw;
  width: fit-content;
  aspect-ratio: 1/1;
  border-radius: 50%;
  padding: 0.8%;
  border: none;
  background-image: linear-gradient(rgb(0, 255, 213), rgb(0, 153, 255));
  color: aliceblue;
  font-weight: bold;
}

.btn__create:hover {
  background-image: linear-gradient(rgb(188, 255, 32), rgb(139, 199, 0));
}

.btn__trash_img {
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-image: url(/icons/trash.svg);
}

.hidden {
  display: none !important;
}
