.btn__create {
  letter-spacing: 0.1vw;
  width: fit-content;
  aspect-ratio: 1/1;
  border-radius: 50%;
  padding: 1%;
  border: none;
  background-image: linear-gradient(rgb(0, 255, 213), rgb(0, 153, 255));
  color: aliceblue;
  font-weight: bold;
}

.btn__create:hover {
  background-image: linear-gradient(rgb(188, 255, 32), rgb(139, 199, 0));
}

.btn__trash_img {
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-image: url(/icons/trash.svg);
}

.recipe_preview {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  background-image: linear-gradient(rgb(255, 255, 232), rgb(255, 252, 205));
  margin-bottom: 2%;
  gap: 5%;
  padding: 0 3%;
  border-radius: 1% / 4%;
}

.recipe_preview:hover {
  background-image: linear-gradient(rgb(233, 233, 194), rgb(226, 222, 177));
}

.title {
  width: 59%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container__pagination {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 12%;
}

.btn__pagination {
  position: absolute;
  background-image: linear-gradient(rgb(183, 0, 255), rgb(135, 0, 168));
  color: aliceblue;
  border: none;
  line-height: 100%;
  letter-spacing: 0.1vw;
  border-radius: 35% / 50%;
}
.btn__pagination_left {
  left: 2%;
}
.btn__pagination_right {
  right: 2%;
}

.hidden {
  display: none !important;
}
