.label__to {
  margin-left: 2%;
}

.container__output {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 5%;
  padding: 0 4% 2% 0;
  /* background-color: aqua; */
}

.output {
  background-color: rgb(255, 241, 164);
  max-width: 50%;
  height: fit-content;
  margin: 0 2% 1% 2%;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.unit {
  display: flex;
  flex-direction: column;
  padding: auto 3% 0 0;
  max-width: 40%;
  background-color: antiquewhite;
  text-align: center;
  align-items: flex-end;
}

.hidden {
  display: none !important;
}
