.label__to {
  margin-left: 2%;
}

.container__output {
  width: 25%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-content: right;
  gap: 5%;
  margin: 0 4% 2% 0;
}

.output {
  background-color: rgb(255, 241, 164);
  width: fit-content;
  height: fit-content;
  padding: 0 2% 1% 2%;
}

.unit {
  margin: auto 3% 0 0;
}

.hidden {
  display: none !important;
}
